[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "alphahull"]
	path = alphahull
	url = https://github.com/beatrizpateiro/alphahull
[submodule "alphashape3d"]
	path = alphashape3d
	url = https://github.com/cran/alphashape3d
